body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    background-color: inherit !important;
    border-color: inherit !important;
    color: inherit !important;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
    background-color: inherit !important;
    border-color: inherit !important;
    color: inherit !important;
  }
  
  .ant-menu-item:hover, .ant-menu-item-active, .ant-menu-item-selected, .ant-menu-item-open {
    background-color: inherit !important;
    border-color: inherit !important;
    color: inherit !important;
  }
  

  